h1 {
    font-size: 222%;
    text-align: center; /*置中*/
    margin-top: 2em;

}

#menusearch {
    font-size: 222%;
    text-align: center; /*置中*/
    margin-top: 2em;
    margin-bottom: 2em;
}
#menusearchinput {
    padding: 0.2em;
}
* {
    list-style: none;
    margin: 0;   /*預設邊界修改為0*/
    padding: 0;  
}

.thumbnail{
    min-height:450px;
}