{% load staticfiles %}
{% load goodtypetags %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">省錢人生</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">省錢人生</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商品總攬 <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'good_list' None %}">所有商品 <span class="sr-only">(current)</span></a></li>
            {% get_good_types GoodsType as good_types %}
            {% for good_type in good_types %}
                <li><a href="{% url 'good_type' good_type.pk None %}">{{ good_type.type_name }}</a></li>
            {% endfor %}
        </ul>
        </li>
        <li><a href="{% url 'good_3cappliance' None %}">資訊電器</a></li>
        <li><a href="{% url 'good_householdsupplies' None %}">生活用品</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">爬蟲 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'momocrawler' %}">momo購物網爬蟲</a></li>
            <li><a href="{% url 'pchomecrawler' %}">PChome購物中心爬蟲</a></li>
          </ul>
        </li>
      </ul>
    <form class="navbar-form navbar-left" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
        <div class="form-group">
          <input type="search" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">省錢去</button>
    </form>
      <ul class="nav navbar-nav navbar-right">        
        {% if not user.is_authenticated %}
            <li><a href="{% url 'register' %}?from={{ request.get_full_path }}">註冊</a></li>
            <li><a href="{% url 'login' %}?from{{ request.get_full_path }}">登入</a></li>
        {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用戶 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'goodtrack' %}">追蹤的商品</a></li>
                <li><a href="#">修改密碼</a></li>
                <li><a href="#">修改信箱</a></li>
                <li><a href="{% url 'logout' %}?from{{ request.get_full_path }}">登出</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% block content %}{% endblock %}


    <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
